name: Metrics
on:
  # Schedule daily updates
#   schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
#   push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Indepth analysis
      uses: lowlighter/metrics@latest
      with:
        filename: metrics.plugin.notable.indepth.svg
        token: ${{ secrets.METRICS_TOKEN }}
        base: ""
        plugin_notable: yes
        plugin_notable_indepth: yes
        plugin_notable_repositories: yes

